.navbar {
  width: 100%;
  background-color: #F6EEE0;
}

.navbar ul {
    position: relative;
    top: 0;
    width: 100%;
  }
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  /* start on left of page */
.navbar  li {
    float: left;
  }

.navbar  li a {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #A45C40  on hover */
 .navbar li a:hover {
    background-color: #d38161;
  }

.navbar a:hover {
  color: white;
} 