<div class="container">
    <h1>About page<h1>
    <p>For any queires please feel free to conatct any of the devs!<p>
        <P><a href = "mailto: 102267153@student.swin.edu.au">Send Email to Agrim</a></P>
        <P><a href = "mailto: 103077133@student.swin.edu.au">Send Email to Benjamin D</a></P>
        <P><a href = "mailto: 103060667@student.swin.edu.au">Send Email to Benjamin S</a></P>
        <P><a href = "mailto: 103168804@student.swin.edu.au">Send Email to Etienne</a></P>
        <P><a href = "mailto: 103615999@student.swin.edu.au">Send Email to Thomas</a></P>
</div>