
<h1>PhpSalesRecordManagment</h1>
<h2> PLease use the following fields to submit product details to the database </h2>
<p> <%= @sales.count %> </p>
<p> <%=  @products.first.name %> </p>
<p><%= @items.count %></p>
