<h1>PhpSalesRecordManagment</h1>
<h2> PLease use the following fields to submit product details to the database </h2>
<p> <%= @sales.first.created_at %> </p>
<p> <%= @products.first.name %> </p>
<p> Sales items <%= @sales.first.sale_items.first.product.name %></p>