<div class="container">
	<h1>New Sale</h1>

	<%= form_with model: @sale, url: sales_path, scope: :sales do |form|  %>
		<div id="adding-products">
			<p>Select a Product</p>
			<div id="form-container">
				<div id="form"><%= render partial: "sales/form", locals: { form: form } %></div>
			</div>
			<div id="addProd" class="btn">Add Product</div>
		</div>
		<br>
		<div>
			<%= form.submit %>
		</div>

	<% end %>
</div>
